.input {
    padding: .5rem 7rem .5rem .5rem;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    top: 3rem;
    border: 1px solid gray;
    transition: all .15s;
}

.input:focus {
    box-shadow: 0 0 10px gray;
}

.cryptoesList {
    margin: 9rem 0;
}

.cryptoesList > li:first-child {
    border-radius: 10px 10px 0 0;
}

.cryptoesList > li:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #000;
}